:root {
    --bg: #361154;
    --color-yellow: #FFB000;
    --color-white: #FFFFFF;
}
@font-face {
    font-family: 'ofrenda';
    src:  url('fonts/ofrenda.eot?ai2esd');
    src:  url('fonts/ofrenda.eot?ai2esd#iefix') format('embedded-opentype'),
      url('fonts/ofrenda.ttf?ai2esd') format('truetype'),
      url('fonts/ofrenda.woff?ai2esd') format('woff'),
      url('fonts/ofrenda.svg?ai2esd#ofrenda') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'ofrenda' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-play3:before {
    content: "\ea1c";
  }
  .icon-pause2:before {
    content: "\ea1d";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-github:before {
    content: "\eab0";
  }
  
body{
    background: var(--bg);
    color: var(--color-white);
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 16px;
    overflow: hidden;
}
figure{
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "header"
        "sidebar"
        "footer";
    gap: 10px 0px;
}
    .main{
        display: none;
    }
    .header {
        grid-area: header;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .main {
        grid-area: main;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .sidebar{
        grid-area: sidebar;
        display: grid;
        align-items: center;
    }
    .footer {
        grid-area: footer;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .header .face:nth-child(1n) {
        transform: rotate(0deg);
    }
    .header .face:nth-child(2n) {
        transform: rotate(180deg);
    }
    .main .face:nth-child(2n) {
        transform: rotate(180deg);
    }
    .footer .face:nth-child(1n) {
        transform: rotate(0deg);
    }
    .footer .face:nth-child(2n) {
        transform: rotate(180deg);
    }
.face{
    position: relative;
    transition: all .8s ease;
    border-radius: 50%;
    overflow: hidden;
}
    .face .imgFace{
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .face .imgFace.hidden{
        opacity: 0;
        transition: all .8s ease;
    }
    .face:hover > .imgFace.hidden{
        opacity: 1;
    }
    /* Animaciones por area */
    .header .face:hover:nth-child(1n){
        transform: rotate(540deg);
    }
    .header .face:hover:nth-child(2n){
        transform: rotate(720deg);
    }
    .main .face:hover:nth-child(1n){
        transform: rotate(540deg);
    }
    .main .face:hover:nth-child(2n){
        transform: rotate(720deg);
    }
    .footer .face:hover:nth-child(1n){
        transform: rotate(540deg);
    }
    .footer .face:hover:nth-child(2n){
        transform: rotate(720deg);
    }

/* sidebar */
.sidebar h1{
    font-size: 3rem;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.sidebar h1 strong{
    color: var(--color-yellow);
}
/**
 * Animacion de boton para play y stop
 */
.play-btn {
    width: 60px;
    height: 60px;
    background: radial-gradient( rgba(255, 0, 128, 0.8) 60%, rgba(255, 255, 255, 1) 62%);
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: block;
    box-shadow: 0px 0px 25px 3px rgba(255, 0, 128, 0.8);
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
    /* agregamos el pulse y animacion */
    .play-btn:after {
        content: "";
        position: absolute;
        width: 145%;
        height: 145%;
        animation-delay: 0s;
        animation-delay: 0s;
        animation: pulse 2s;
        animation-direction: forwards;
        animation-iteration-count: infinite;
        animation-timing-function: steps;
        opacity: 1;
        border-radius: 50%;
        border: 5px solid rgba(255, 255, 255, .75);
        top: -30%;
        left: -30%;
        background: rgba(198, 16, 0, 0);
    }
  
        @keyframes pulse {
            0% {
                transform: scale(0.6);
                transform: scale(0.6);
                opacity: 1;
                box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
            }
            100% {
                transform: scale(1);
                transform: scale(1);
                opacity: 0;
                box-shadow: none;
            }
        }

@media screen and (min-width:1200px){
    .wrapper {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            "header header header header"
            "main main sidebar sidebar"
            "footer footer footer footer";
        gap: 10px 0px;
    }
    .header {
        grid-template-columns: repeat(6, 1fr);
    }
    .main {
        grid-template-columns: repeat(3, 1fr);
    }
    .footer {
        grid-template-columns: repeat(6, 1fr);
    }
    .sidebar h1{
        font-size: 4rem;
    }
}