body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 16px;
}
p {
  color: white;
  font-size: 4.2em;
  font-weight: bolder;
  margin: 5px 0;
  letter-spacing: 8px;
  text-shadow: 2px 2px 4px #000000;
}
p.alternative {
  color: #ffb000;
}

.container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
  min-height: 100vh;
  gap: 10px;
  background-color: #361154;
  /*background-image: url(../images/background.png);
  background-size: contain;
  background-position: center;
  */
  position: relative;
  z-index: 1;
}

.container:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../images/background.png);
  background-size: contain;
  background-position: center;
  opacity: 0.4;
}

.item {
  transition: 0.5s ease;
}
.item:hover {
  transition: 0.5s ease all;
}

.item:nth-of-type(12) {
  grid-column: span 3;
  align-self: center;
}

.item:nth-of-type(1),
.item:nth-of-type(2),
.item:nth-of-type(3),
.item:nth-of-type(4),
.item:nth-of-type(5),
.item:nth-of-type(6),
.item:nth-of-type(7),
.item:nth-of-type(13),
.item:nth-of-type(14),
.item:nth-of-type(15),
.item:nth-of-type(16),
.item:nth-of-type(17),
.item:nth-of-type(18),
.item:nth-of-type(19),
.item:nth-of-type(20) {
  background: url(../images/skull_up.svg) no-repeat top left;
  background-size: contain;
  background-position: center;
}

.item:nth-of-type(1):hover,
.item:nth-of-type(2):hover,
.item:nth-of-type(3):hover,
.item:nth-of-type(4):hover,
.item:nth-of-type(5):hover,
.item:nth-of-type(6):hover,
.item:nth-of-type(7):hover,
.item:nth-of-type(13):hover,
.item:nth-of-type(14):hover,
.item:nth-of-type(15):hover,
.item:nth-of-type(16):hover,
.item:nth-of-type(17):hover,
.item:nth-of-type(18):hover,
.item:nth-of-type(19):hover,
.item:nth-of-type(20):hover {
  background: url(../images/skull_up_1.svg) no-repeat top left;
  background-size: contain;
  background-position: center;
}

.item:nth-of-type(8),
.item:nth-of-type(9),
.item:nth-of-type(10),
.item:nth-of-type(11) {
  background: url(../images/skull_down.svg) no-repeat top left;
  background-size: contain;
  background-position: center;
}

.item:nth-of-type(8):hover,
.item:nth-of-type(9):hover,
.item:nth-of-type(10):hover,
.item:nth-of-type(11):hover {
  background: url(../images/skull_down_1.svg) no-repeat top left;
  background-size: contain;
  background-position: center;
}

@media (max-width: 1150px) {
  p {
    font-size: 3.5em;
  }
}

@media (max-width: 1024px) {
  p {
    font-size: 3em;
  }
}

@media (max-width: 900px) {
  .container {
    grid-template-columns: repeat(6, 1fr);
  }

  p {
    font-size: 3.8em;
  }

  .item:nth-of-type(7) {
    background: url(../images/skull_down.svg) no-repeat top left;
    background-size: contain;
    background-position: center;
  }

  .item:nth-of-type(7):hover {
    background: url(../images/skull_down_1.svg) no-repeat top left;
    background-size: contain;
    background-position: center;
  }

  .item:nth-of-type(9),
  .item:nth-of-type(10),
  .item:nth-of-type(11) {
    background: url(../images/skull_up.svg) no-repeat top left;
    background-size: contain;
    background-position: center;
  }

  .item:nth-of-type(9):hover,
  .item:nth-of-type(10):hover,
  .item:nth-of-type(11):hover {
    background: url(../images/skull_up_1.svg) no-repeat top left;
    background-size: contain;
    background-position: center;
  }

  .item:nth-of-type(12) {
    align-self: center;
    grid-column: 2 / span 4;
    grid-row-start: 2;
    text-align: center;
  }

  .item:nth-of-type(16),
  .item:nth-of-type(17),
  .item:nth-of-type(18),
  .item:nth-of-type(19) {
    display: none;
  }
}

@media (max-width: 700px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr auto 1fr 1fr;
  }

  .item:nth-of-type(4),
  .item:nth-of-type(5),
  .item:nth-of-type(6),
  .item:nth-of-type(10),
  .item:nth-of-type(11),
  .item:nth-of-type(13) {
    background: url(../images/skull_down.svg) no-repeat top left;
    background-size: contain;
    background-position: center;
  }

  .item:nth-of-type(4):hover,
  .item:nth-of-type(5):hover,
  .item:nth-of-type(6):hover,
  .item:nth-of-type(10):hover,
  .item:nth-of-type(11):hover,
  .item:nth-of-type(13):hover {
    background: url(../images/skull_down_1.svg) no-repeat top left;
    background-size: contain;
    background-position: center;
  }

  .item:nth-of-type(7),
  .item:nth-of-type(8) {
    background: url(../images/skull_up.svg) no-repeat top left;
    background-size: contain;
    background-position: center;
  }

  .item:nth-of-type(7):hover,
  .item:nth-of-type(8):hover {
    background: url(../images/skull_up_1.svg) no-repeat top left;
    background-size: contain;
    background-position: center;
  }

  .item:nth-of-type(12) {
    align-self: center;
    grid-column: 1 / span 3;
    grid-row-start: 3;
    text-align: center;
  }

  .item:nth-of-type(14),
  .item:nth-of-type(15) {
    display: none;
  }
}
